{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Add Tax Rates</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Aero</a></li>
                    <li class="breadcrumb-item active"></li>
                </ul>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i
                        class="zmdi zmdi-sort-amount-desc"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i
                        class="zmdi zmdi-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <form method="POST" action="https://admin/addNewTaxRate" accept-charset="UTF-8"
        class="form-horizontal  form-validate" enctype="multipart/form-data"><input name="_token" type="hidden"
            value="">

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-md-3 control-label">Tax Class
            </label>
            <div class="col-sm-10 col-md-4">
                <select name="tax_class_id" class="form-control">
                    <option value="1"> Sale Tax</option>
                </select>
                <span class="help-block" style="font-weight: normal;font-size: 11px;margin-bottom: 0;">
                    Choose Tax Class.</span>
            </div>
        </div>

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-md-3 control-label">Zone
            </label>
            <div class="col-sm-10 col-md-4">
                <select name="tax_zone_id" class="form-control">
                    <option value="1"> Alabama</option>
                    <option value="2"> Alaska</option>
                    <option value="3"> American Samoa</option>
                    <option value="4"> Arizona</option>
                    <option value="5"> Arkansas</option>
                    <option value="6"> Armed Forces Africa</option>
                    <option value="7"> Armed Forces Americas</option>
                    <option value="8"> Armed Forces Canada</option>
                    <option value="9"> Armed Forces Europe</option>
                    <option value="10"> Armed Forces Middle East</option>
                    <option value="11"> Armed Forces Pacific</option>
                    <option value="12"> California</option>
                    <option value="13"> Colorado</option>
                    <option value="14"> Connecticut</option>
                    <option value="15"> Delaware</option>
                    <option value="16"> District of Columbia</option>
                    <option value="17"> Federated States Of Micronesia</option>
                    <option value="18"> Florida</option>
                    <option value="19"> Georgia</option>
                    <option value="20"> Guam</option>
                    <option value="21"> Hawaii</option>
                    <option value="22"> Idaho</option>
                    <option value="23"> Illinois</option>
                    <option value="24"> Indiana</option>
                    <option value="25"> Iowa</option>
                    <option value="26"> Kansas</option>
                    <option value="27"> Kentucky</option>
                    <option value="28"> Louisiana</option>
                    <option value="29"> Maine</option>
                    <option value="30"> Marshall Islands</option>
                    <option value="31"> Maryland</option>
                    <option value="32"> Massachusetts</option>
                    <option value="33"> Michigan</option>
                    <option value="34"> Minnesota</option>
                    <option value="35"> Mississippi</option>
                    <option value="36"> Missouri</option>
                    <option value="37"> Montana</option>
                    <option value="38"> Nebraska</option>
                    <option value="39"> Nevada</option>
                    <option value="40"> New Hampshire</option>
                    <option value="41"> New Jersey</option>
                    <option value="42"> New Mexico</option>
                    <option value="43"> New York</option>
                    <option value="44"> North Carolina</option>
                    <option value="45"> North Dakota</option>
                    <option value="46"> Northern Mariana Islands</option>
                    <option value="47"> Ohio</option>
                    <option value="48"> Oklahoma</option>
                    <option value="49"> Oregon</option>
                    <option value="50"> Palau</option>
                    <option value="51"> Pennsylvania</option>
                    <option value="52"> Puerto Rico</option>
                    <option value="53"> Rhode Island</option>
                    <option value="54"> South Carolina</option>
                    <option value="55"> South Dakota</option>
                    <option value="56"> Tennessee</option>
                    <option value="57"> Texas</option>
                    <option value="58"> Utah</option>
                    <option value="59"> Vermont</option>
                    <option value="60"> Virgin Islands</option>
                    <option value="61"> Virginia</option>
                    <option value="62"> Washington</option>
                    <option value="63"> West Virginia</option>
                    <option value="64"> Wisconsin</option>
                    <option value="65"> Wyoming</option>
                    <option value="66"> Alberta</option>
                    <option value="67"> British Columbia</option>
                    <option value="68"> Manitoba</option>
                    <option value="69"> Newfoundland</option>
                    <option value="70"> New Brunswick</option>
                    <option value="71"> Nova Scotia</option>
                    <option value="72"> Northwest Territories</option>
                    <option value="73"> Nunavut</option>
                    <option value="74"> Ontario</option>
                    <option value="75"> Prince Edward Island</option>
                    <option value="76"> Quebec</option>
                    <option value="77"> Saskatchewan</option>
                    <option value="78"> Yukon Territory</option>
                    <option value="79"> Niedersachsen</option>
                    <option value="80"> Baden-Württemberg</option>
                    <option value="81"> Bayern</option>
                    <option value="82"> Berlin</option>
                    <option value="83"> Brandenburg</option>
                    <option value="84"> Bremen</option>
                    <option value="85"> Hamburg</option>
                    <option value="86"> Hessen</option>
                    <option value="87"> Mecklenburg-Vorpommern</option>
                    <option value="88"> Nordrhein-Westfalen</option>
                    <option value="89"> Rheinland-Pfalz</option>
                    <option value="90"> Saarland</option>
                    <option value="91"> Sachsen</option>
                    <option value="92"> Sachsen-Anhalt</option>
                    <option value="93"> Schleswig-Holstein</option>
                    <option value="94"> Thüringen</option>
                    <option value="95"> Wien</option>
                    <option value="96"> Niederösterreich</option>
                    <option value="97"> Oberösterreich</option>
                    <option value="98"> Salzburg</option>
                    <option value="99"> Kärnten</option>
                    <option value="100"> Steiermark</option>
                    <option value="101"> Tirol</option>
                    <option value="102"> Burgenland</option>
                    <option value="103"> Voralberg</option>
                    <option value="104"> Aargau</option>
                    <option value="105"> Appenzell Innerrhoden</option>
                    <option value="106"> Appenzell Ausserrhoden</option>
                    <option value="107"> Bern</option>
                    <option value="108"> Basel-Landschaft</option>
                    <option value="109"> Basel-Stadt</option>
                    <option value="110"> Freiburg</option>
                    <option value="111"> Genf</option>
                    <option value="112"> Glarus</option>
                    <option value="113"> Graubünden</option>
                    <option value="114"> Jura</option>
                    <option value="115"> Luzern</option>
                    <option value="116"> Neuenburg</option>
                    <option value="117"> Nidwalden</option>
                    <option value="118"> Obwalden</option>
                    <option value="119"> St. Gallen</option>
                    <option value="120"> Schaffhausen</option>
                    <option value="121"> Solothurn</option>
                    <option value="122"> Schwyz</option>
                    <option value="123"> Thurgau</option>
                    <option value="124"> Tessin</option>
                    <option value="125"> Uri</option>
                    <option value="126"> Waadt</option>
                    <option value="127"> Wallis</option>
                    <option value="128"> Zug</option>
                    <option value="129"> Zürich</option>
                    <option value="130"> A Coruña</option>
                    <option value="131"> Alava</option>
                    <option value="132"> Albacete</option>
                    <option value="133"> Alicante</option>
                    <option value="134"> Almeria</option>
                    <option value="135"> Asturias</option>
                    <option value="136"> Avila</option>
                    <option value="137"> Badajoz</option>
                    <option value="138"> Baleares</option>
                    <option value="139"> Barcelona</option>
                    <option value="140"> Burgos</option>
                    <option value="141"> Caceres</option>
                    <option value="142"> Cadiz</option>
                    <option value="143"> Cantabria</option>
                    <option value="144"> Castellon</option>
                    <option value="145"> Ceuta</option>
                    <option value="146"> Ciudad Real</option>
                    <option value="147"> Cordoba</option>
                    <option value="148"> Cuenca</option>
                    <option value="149"> Girona</option>
                    <option value="150"> Granada</option>
                    <option value="151"> Guadalajara</option>
                    <option value="152"> Guipuzcoa</option>
                    <option value="153"> Huelva</option>
                    <option value="154"> Huesca</option>
                    <option value="155"> Jaen</option>
                    <option value="156"> La Rioja</option>
                    <option value="157"> Las Palmas</option>
                    <option value="158"> Leon</option>
                    <option value="159"> Lleida</option>
                    <option value="160"> Lugo</option>
                    <option value="161"> Madrid</option>
                    <option value="162"> Malaga</option>
                    <option value="163"> Melilla</option>
                    <option value="164"> Murcia</option>
                    <option value="165"> Navarra</option>
                    <option value="166"> Ourense</option>
                    <option value="167"> Palencia</option>
                    <option value="168"> Pontevedra</option>
                    <option value="169"> Salamanca</option>
                    <option value="170"> Santa Cruz de Tenerife</option>
                    <option value="171"> Segovia</option>
                    <option value="172"> Sevilla</option>
                    <option value="173"> Soria</option>
                    <option value="174"> Tarragona</option>
                    <option value="175"> Teruel</option>
                    <option value="176"> Toledo</option>
                    <option value="177"> Valencia</option>
                    <option value="178"> Valladolid</option>
                    <option value="179"> Vizcaya</option>
                    <option value="180"> Zamora</option>
                    <option value="181"> Zaragoza</option>
                </select>
                <span class="help-block" style="font-weight: normal;font-size: 11px;margin-bottom: 0;">Tax will be
                    applied only to the selected zones.</span>
            </div>
        </div>

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-md-3 control-label">Tax Rate (%)
            </label>
            <div class="col-sm-10 col-md-4">
                <input class="form-control number-validate" id="tax_rate" name="tax_rate" type="text" value="">
                <span class="help-block" style="font-weight: normal;font-size: 11px;margin-bottom: 0;">Enter tax value
                    in digits without any symbal. i.e: 7</span>
                <span class="help-block hidden"></span>
            </div>
        </div>

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-md-3 control-label">Description
            </label>
            <div class="col-sm-10 col-md-4">
                <textarea class="form-control" id="tax_description" name="tax_description" cols="50"
                    rows="10"></textarea>
                <span class="help-block" style="font-weight: normal;font-size: 11px;margin-bottom: 0;">Enter tax
                    description</span>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
            <button type="submit" class="btn btn-primary">Add Tax Rate</button>
            <a href="listingTaxRates" type="button" class="btn btn-default">Back</a>
        </div>
        <!-- /.box-footer -->
    </form>

</section>

{% endblock main_content %}