{% extends 'baase.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="page-wrapper">

        <main class="main">

            <div class="mb-3 mb-lg-5"></div><!-- End .mb-3 mb-lg-5 -->
            <div class="mb-3"></div><!-- End .mb-6 -->
            <div class="mb-5"></div><!-- End .mb-5 -->
            <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
            <div class="mb-6"></div><!-- End .mb-6 -->
            
        </main><!-- End .main -->

    </div><!-- End .page-wrapper -->

</body>

</html>
{% endblock content %}