{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Add News Categories</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Aero</a></li>
                    <li class="breadcrumb-item active"></li>
                </ul>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i
                        class="zmdi zmdi-sort-amount-desc"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i
                        class="zmdi zmdi-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <form method="POST" action="" accept-charset="UTF-8"
        class="form-horizontal form-validate" enctype="multipart/form-data"><input name="_token" type="hidden"
            value="">
            {% csrf_token %}
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-md-3 control-label">Name (English)</label>
            <div class="col-sm-10 col-md-4">
                <input type="text" name="name_english" class="form-control field-validate">
                <span class="help-block" style="font-weight: normal;font-size: 11px;margin-bottom: 0;">News Category
                    Name (English)</span>

                <span class="help-block hidden"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-md-3 control-label">Name (Bangla)</label>
            <div class="col-sm-10 col-md-4">
                <input type="text" name="name_bangla" class="form-control field-validate">
                <span class="help-block" style="font-weight: normal;font-size: 11px;margin-bottom: 0;">News Category
                    Name (Bangla)</span>

                <span class="help-block hidden"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-md-3 control-label">Image </label>
            <div class="col-sm-10 col-md-4">
                <input id="newImage" name="image" type="file">
                <span class="help-block" style="font-weight: normal;font-size: 11px;margin-bottom: 0;">
                    Upload news image</span>
                <br>
            </div>
        </div>

       
        <div class="box-footer text-center">
            <button type="submit" class="btn btn-primary">Add News Category</button>
            <a href="/home/news_categories-list" type="button" class="btn btn-default">Back</a>
        </div>
        
    </form>

</section>

{% endblock main_content %}