{% load static %}
<aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
        <a href="index.html"><img src="{% static 'assets/images/logo.svg' %}" width="25" alt="Aero"><span
                class="m-l-10">Aero</span></a>
    </div>
    <div class="menu">
        <ul class="list">
            <li>
                <div class="user-info">
                    <a class="image" href="profile.html"><img src="assets/images/profile_av.jpg" alt="User"></a>
                    <div class="detail">
                        <h4>Md.Al-Amin</h4>
                        <small>Super Admin</small>
                    </div>
                </div>
            </li>
            <li class="active open"><a href="/home"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
            <li class=""><a href="/home/languages"><i class="zmdi zmdi-tv-list"></i><span>Languages</span></a></li>
            <li class=""><a href="/home/pages"><i class="zmdi zmdi-satellite"></i><span>Pages</span></a></li>
            <li><a href="/home/brand"><i class="zmdi zmdi-widgets"></i><span>Brand</span></a></li>
            <li><a href="/home/manufacturer"><i class="zmdi zmdi-palette"></i><span>Manufacturer</span></a></li>

            <li> <a href="javascript:void(0);" class="menu-toggle"><i
                        class="zmdi zmdi-assignment"></i><span>Categories</span></a>
                <ul class="ml-menu">
                    <li><a href="/home/categories">Categories</a></li>
                    <li><a href="/home/sub-categories">Subcategories</a></li>

                </ul>
            </li>
            <li> <a href="javascript:void(0);" class="menu-toggle"><i
                        class="zmdi zmdi-view-day"></i><span>Products</span></a>
                <ul class="ml-menu">
                    <li><a href="/home/products">Product</a></li>
                    <li><a href="/home/product_attributes">Product Attributes</a></li>

                </ul>
            </li>
            <li> <a href="javascript:void(0);" class="menu-toggle"><i
                        class="zmdi zmdi-star-circle"></i><span>Packages</span></a>
                <ul class="ml-menu">
                    <li><a href="/home/packages">Packages</a></li>
                    <li><a href="/home/packages_type">Packages Type</a></li>
                    <li><a href="/home/packages_type_attribute">Packages Type Attribute</a></li>

                </ul>
            </li>
            <li><a href="javascript:void(0);" class="menu-toggle"><i
                        class="zmdi zmdi-view-dashboard"></i><span>News</span></a>
                <ul class="ml-menu">
                    <li><a href="/home/news">News</a></li>
                    <li><a href="/home/news_categories">News Categories</a></li>

                </ul>
            </li>
            <li><a href="/home/customers"><i class="zmdi zmdi-account"></i><span>Customers</span></a></li>
            <li><a href="javascript:void(0);" class="menu-toggle"><i
                        class="zmdi zmdi-balance"></i><span>Tax/Location</span></a>
                <ul class="ml-menu">
                    <li><a href="/home/countries">Countries</a></li>
                    <li><a href="/home/tax_classes">Tax Classes</a></li>
                    <li><a href="/home/tax_rates">Tax Rates</a></li>
                    <li><a href="/home/zones">Zones</a></li>
                </ul>
            </li>
            <li><a href="/home/coupons"><i class="zmdi zmdi-library"></i><span>Coupons</span></a></li>
            <li><a href="javascript:void(0);" class="menu-toggle"><i
                        class="zmdi zmdi-notifications"></i><span>Notifications</span></a>
                <ul class="ml-menu">
                    <li><a href="/home/devices">Devices</a></li>
                    <li><a href="/home/send_notifications">Send Notifications</a></li>
                    {% comment %} <li><a href="icons-weather.html">Weather Icons</a></li> {% endcomment %}
                </ul>
            </li>
            <li class="active open"><a href="/home/orders"><i
                        class="zmdi zmdi-shopping-cart"></i><span>Orders</span></a></li>
            <li class=""><a href="/home/packages_subscriptions"><i class="zmdi zmdi-shape"></i><span>Packages
                        Subscriptions</span></a></li>
            <li class=""><a href="/home/shipping_methods"><i class="zmdi zmdi-flight-takeoff"></i><span>Shipping
                        Methods</span></a></li>
            <li><a href="/home/payment_methods"><i class="zmdi zmdi-plaster"></i><span>Payment Methods</span></a></li>
            <li><a href="javascript:void(0);" class="menu-toggle"><i
                        class="zmdi zmdi-assignment"></i><span>Reports</span></a>
                <ul class="ml-menu">
                    <li><a href="/home/products_stock">Products Stock</a></li>
                    <li><a href="/home/customers_total_order">Customers Order Total</a></li>
                    <li><a href="/home/total_purchased">Total Purchased</a></li>
                    <li><a href="/home/products_liked">Products Liked</a></li>

                </ul>
            </li>
            <li><a href="/home/banners"><i class="zmdi zmdi-panorama-horizontal"></i><span>Banners</span></a></li>
            <li><a href="javascript:void(0);" class="menu-toggle"><i
                        class="zmdi zmdi-swap-alt"></i><span>Feature</span></a>
                <ul class="ml-menu">
                    <li><a href="/home/create_feature">Create Feature</a></li>
                    <li><a href="/home/manage_feature">Manage Feature</a></li>

                </ul>
            </li>
            <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-flower"></i><span>Site
                        Settings</span></a>
                <ul class="ml-menu">
                    <li><a href="/home/order_status">Order Status </a></li>
                    <li><a href="/home/settings">Settings</a></li>

                </ul>
            </li>
            <li class=""><a href="/home/user_subscription"><i class="zmdi zmdi-face"></i><span>User
                        Subscription</span></a></li>
            <li class=""><a href="/home/special_product"><i class="zmdi zmdi-star-half"></i><span>Special
                        Product</span></a></li>
            <li><a href="/home/flash_deal_product"><i class="zmdi zmdi-camera-alt"></i><span>Flash Deal
                        Product</span></a></li>
            <li class=""><a href="/home/category_settings"><i class="zmdi zmdi-brightness-7"></i><span>Category
                        Settings</span></a></li>

            <li>
                <div class="progress-container progress-primary m-t-10">
                    <span class="progress-badge">Traffic this Month</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="67"
                            aria-valuemin="0" aria-valuemax="100" style="width: 67%;">
                            <span class="progress-value">67%</span>
                        </div>
                    </div>
                </div>
                <div class="progress-container progress-info">
                    <span class="progress-badge">Server Load</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="86"
                            aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
                            <span class="progress-value">86%</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>