{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    {% for product in products%}
    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
        <div class="product product-11 text-center">
            <figure class="product-media">
                <a>
                    <img class="thumbnail" src="{{product.imageURL}}">
                </a>
            </figure>

            <div class="product-body">
                <h3 class="product-title"><a>{{product.name}}</a></h3>
                <div class="product-price">৳ {{product.price|floatformat:2}}</div>
            </div>
            <div class="product-action">

                <a data-product={{product.id}} data-action="add"
                    class="btn-product btn-cart add-btn update-cart"><span>add to cart</span></a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>



</div>

{% endblock content %}